*{font-family: 'Barlow', sans-serif; font-size: 101%;}
body{background-color: #616161}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #efefef;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #efefef;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #efefef;
}

.Apps {
  text-align: center;
}

.App-header{ 
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(97, 97, 97);

}


.App-logo {
  max-width: 72px;
  height: 72px;
  pointer-events: none;
}

.App-title{box-sizing: border-box; max-width: 50%; color:#FFF}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
  display: flex;
  flex-direction:row;
  align-items:center;
  justify-content:flex-start;
 /* font-size: calc(10px + 2vmin);*/
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.info p {
  text-align:center;
  color: #999;
  text-transform:none;
  font-weight:600;
  font-size:15px;
  margin-top:2px;
  margin-left: 5px;
}

.info i {
  color:#F6AA93;
}
form h3 {
  font-size: 13px;
  background: #6bab99 none repeat scroll 0% 0%;
  color: rgb(255, 255, 255);
  padding: 10px 15px;
 /* border-radius: 5px 5px 0px 0px;*/
  margin: auto;
  margin-bottom:5px;
  text-shadow: none; 
  text-align:left
}

form {
  border-radius: 5px;
  width:100%;
  margin: 0% auto;
  background-color: #616161;
  overflow: hidden;
}

p span {
  color: #F00;
}

p {
  margin: 0px;
  font-weight: 500;
  line-height: 2;
  color:rgb(245, 245, 245);
  text-transform: uppercase;
  text-align: left;
}

h1 {
  text-align: center;
  color: #929292;
  text-shadow: 1px 2px 0px #21212199;
}

input {
  border-radius: 0px 5px 5px 0px;
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
  width: 75%;
  height: 40px;
  float: left;
  padding: 0px 15px;
  color:rgb(153, 252, 230)
}

a {
  text-decoration:inherit
}

textarea {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #EEE;
  margin: 0;
  width: 75%;
  height: 130px; 
  float: left;
  padding: 0px 15px;
}


input:not([disabled]) {
  background-color: #709994;
}


.form-group {
  overflow: hidden;
  clear: both;
}

.icon-case {
  width: 35px;
  float: left;
  border-radius: 5px 0px 0px 5px;
  background:#eeeeee;
  height:42px;
  position: relative;
  text-align: center;
  line-height:40px;
}

i {
  color:#555;
}

.contentform {
  padding: 40px 30px;
}


.form-inline input{ width:41%; }

.bouton-contact{
  background-color: #81BDA4;
  color: #FFF;
  text-align: center;
  width: 100%;
  border:0;
  padding: 17px 25px;
  border-radius: 0px 0px 5px 5px;
  cursor: pointer;
  margin-top: 40px;
  font-size: 18px;
}

.leftcontact {
  width:49.5%; 
  float:left;
  border-right: 1px dotted #CCC;
  box-sizing: border-box;
  padding: 0px 15px 0px 0px;
}

.rightcontact {
  width:49.5%;
  float:right;
  box-sizing: border-box;
  padding: 0px 0px 0px 15px;
}

.validation {
  display:none;
  margin: 0 0 10px;
  font-weight:400;
  font-size:13px;
  color: #DE5959;
}

#sendmessage {
  border:1px solid #fff;
  display:none;
  text-align:center;
  margin:10px 0;
  font-weight:600;
  margin-bottom:30px;
  background-color: #EBF6E0;
  color: #5F9025;
  border: 1px solid #B3DC82;
  padding: 13px 40px 13px 18px;
  border-radius: 3px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.03);
}

#sendmessage.show,.show  {
  display:block;
}

@media only screen and (max-device-width: 321px) {
input{

  width: 68%;
}
  


}
